
*{
	padding: 0;
	margin: 0;
}

header{
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
	
}

nav{
	background-color: #008CBD;
	border: 1px black solid;
	padding: 20px;
}

footer{
	background-color: #008CBD;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	text-decoration:line-through;

	
}	

a{
	color:#fff;
}

section{
	background-color: #FFe2B8;
	border: 1px black solid;
	padding: 20px;
}

#slogan{
	background-color: #008CBD;
	border: 1px black solid;
	padding: 20px;
	text-align: right;
}


#image{
	/*background-image: url(file:///Users/NicholeWeber/Documents/GitHub/nicholeannew.github.io/unit_3/images/nicholeb&w.jpg);*/
	
	background: url(../assets/nicholeb&w.jpg) no-repeat center center scroll;
	background-size: cover;
	height: 48em;
	padding: 5em 0;
	width: 100%;
}


#wrapper{
	background-color: #FFe2B8;
}

#two_column{
	background-color: #FFB7CF;
	border: 1px black solid
	padding: 20px;
}

#left{
	background-color: #008CBD;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right{
	background-color: #008CBD;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}
