
@import url('https://fonts.googleapis.com/css?family=Kavivanar');
@import url('https://fonts.googleapis.com/css?family=Kavivanar|Montserrat');

*{
	padding: 0;
	margin: 0;
}


h1 {
	font-family: 'Kavivanar', cursive; 
	text-transform: uppercase;
	color: #000;
	padding: 1em;
	padding: 1em;
	background-color: #fff;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 5px;
	line-height:28px;
	text-decoration-style: solid;
	text-align: left;
	background-color: #008CBD;
}

#slogan {
	font-style: italic;
	text-align: center;
	font-size: 24px;
	margin-top: .25em;
	font-weight: 200;
	line-height: 40px;


}


body,p,li,ul {
	
	font-family: 'Montserrat', sans-serif;
	font-size: 16px; /* 1em= 16px*/
	line-height: 1.3;
	text-align: center;
	

}

p{ 
	width: 30em;
	margin: 2em auto;
	

}



a{
	color: #008CBD;
	text-decoration: line-through;



}

img{
	width: 100%
}


#image{
	/*background-image: url(file:///Users/NicholeWeber/Documents/GitHub/nicholeannew.github.io/unit_3/images/nicholeb&w.jpg);*/
	background:url('images/nicholeb&w.jpg') no-repeat;
	background-size: cover;
	height: 46.87em;
	padding: 1.25em 0;
	width: 100%;
}


footer{
	text-align: center;
	text-decoration: line-through;
}
