@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url('https://fonts.googleapis.com/css?family=Raleway');



*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #fafafa;
	font-size: 16px;
	padding: 0 40px;
	
}

header{
	padding:1em 2.5em .5em;
	border: 2em;
}
a{
	text-decoration:none;
	color: black;
}

h1{
	font-family:'Raleway', sans-serif;
	letter-spacing: 1em;
	font-size: 1.5em;
	text-transform: uppercase;
	font-style: thin;
	display: block;
	text-align: left;
}

h2{
	font-family:'Raleway', sans-serif;
	letter-spacing: 1.1em;
	font-size: 1.5em;
	text-transform: uppercase;
	font-style: thin;
	display: block;
	padding: 0 25px;
	text-align: left;
}

h3{
	font-size: 1em;
	font-family:'Allerta', sans-serif;
	letter-spacing: .25em;
	text-transform: uppercase;
	font-style: thin;
	display: block;
	text-align: center;

}

p{
	font-size: 1em;
	font-family:'Allerta', sans-serif;
	display: block;
	text-align: center;
	padding: 3em;

}
nav {
	margin:1em;
	padding: 1.5em;
	text-align: right;
	float: right;
	display: block;
}

nav a:link{
	font-family: 'Allerta', sans-serif;
	color:#fee6d9;
	padding:20px;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;

}

nav a:visited{
	color:#fee6d9;
}

nav a:hover{
	color:#FFF;

}

main{
	padding: 2em 10em;
	clear: both;
}


img{
	width: 100%;

}


hr{
	border: solid black thin;
	width: 2em;
	margin: 1em auto;

}


label{
	font-family: 'Allerta', sans-serif;
	color:#fee6d9;
	padding:0 32px;
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: none;

}


footer{
	clear: both;
}




#IG{
	width: 2%;
	padding: .5em;

}
#mail{
	width: 2%;
	padding: .5em;

}

#contactinfo{
	padding: 13em 10em;

}

#social{
	padding: 1em 0;
	background-color: #fee6d9;
}

#toggle{
	display: none;
}

#aboutme{
	padding: 1em;
}

#left{
	padding:10em 2em;
	float: left;
	width: 40%
}

#right{
	padding: 2em;
	float: right;
	width: 40%;

}

#grid{
	padding: .2em;
}

.pics{
	width: 23%;
	padding: .2em;
	margin: .2em;
	float: left;
}

.widepics{
	width: 47%;
	padding: .2em;
	margin: .2em;
	float: left;
}

.wrapper{
	padding: .5em 1em;
}

.clearfix:after{
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
}


@media screen and (max-width:1100px){
	nav{
		display: none;
	}
	
	nav a:link{
		display: block;
		padding: 10px;
		margin: 2px;

	}

	header{
		padding: 20px 10px;
	}

	label{
		display: block;
		text-align: right;

	}
	img{
		width: 100%;
	}


	/*.column{
		flex: 40%;
		max-width: 40%
	}*/

	#toggle:checked + nav{
		display: block;
		float: none;

	}

	#IG{
		width: 3.5%;
		padding: .50em;
	}
	#mail{
		width: 3.5%;
		padding: .50em;
	}

	#aboutme{
		padding: .01em;
	}

	#left{
	padding:1em;
	float: left;
	width: 50%;
	/*font-size: .8em;*/


}

#right{
	padding: 1em;
	float: right;
	width: 40%;

}

}
@media screen and (max-width:900px){

	.pics{
	width: 47%;
	padding: .2em;
	margin: .2em;
	float: left;
	}

.widepics{
	width: 90%;
	padding: .2em;
	margin: .2em;
	float: none;
	}
	#aboutme{
		padding:3em;
	}

	#left{
	padding:1em;
	width: 100%;
	/*font-size: .8em;*/


	}

	#right{
	display: none;

	}
}



@media screen and (max-width:650px){

	#contactinfo{
		padding:15em 1em;
	}
	
	#header{
		padding: 40px 10px;
	}
	
	#toggle:checked + nav{
		display: block;
		float: none;


	}


	main{
		padding:.5em;

	}
	label{
		display: block;
		padding: 1em;
		text-align: center;
	}

	h1{
		font-family:'Raleway', sans-serif;
		letter-spacing: 1em;
		font-size: 1.5em;
		text-transform: uppercase;
		font-style: thin;
		display: block;
		text-align: center;
	}
	
	h2{
		font-family:'Raleway', sans-serif;
		letter-spacing: 1.1em;
		font-size: 1.5em;
		text-transform: uppercase;
		font-style: thin;
		display: block;
		padding: 0 25px;
		text-align: center;

	}
	body{
		font-size: 14px;
	}
	
	img{
		width: 100%;
	}


	#IG{
		width: 5%;
		padding: .75em;
		
	}
	#mail{
		width: 5%;
		padding: .75em;

	}

	#aboutme{
		padding:.1em;
		width: 100%;
	}
	#left{
		padding: .01em;
	}

	.pics{
	width: 90%;
	padding: .2em;
	margin: .2em;
	float: none;
	}

.widepics{
	width: 90%;
	padding: .2em;
	margin: .2em;
	float: none;
	}

}	
