@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url('https://fonts.googleapis.com/css?family=Raleway');



*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #fafafa;
	font-size: 16px;
	padding: 0 40px;
	
}

header{
	padding:20px 40px;
}

h1{
	font-family:'Raleway', sans-serif;
	letter-spacing: 1em;
	font-size: 1.5em;
	text-transform: uppercase;
	font-style: thin;
	display: block;
	text-align: left;


}

h2{
	font-family:'Raleway', sans-serif;
	letter-spacing: 1.1em;
	font-size: 1.5em;
	text-transform: uppercase;
	font-style: thin;
	display: block;
	padding: 0 25px;
	text-align: left;


}
nav {
	margin:2.5em;
	text-align: right;
}

nav a:link{
	font-family: 'Allerta', sans-serif;
	color:#fee6d9;
	padding:20px;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;

}

nav a:visited{
	color:#fee6d9;
}

nav a:hover{
	color:#FFF;
}

img{
	width: 100%
}

h3{
	font-family: 'Allerta', sans-serif;
	color:#000;
	padding:20px;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;

}


.clearfix:after{
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
}
